# LazyVim starting gitignore
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Ignore lsp settings (aside from lua_ls)
lua/plugins/lsp/*
!lua/plugins/lsp/lsp.lua
!lua/plugins/lsp/lua_ls.lua
!lua/plugins/lsp/template.lua

lua/work/plugins/*
!lua/work/plugins/init.lua
